
:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

$blanco: rgb(226, 223, 223);

body {
    font-family: 'Poppins', sans-serif;
    background-color: $blanco;
}
 $porcent: 100%;

 
.container {
    width: $porcent;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

$min: 600px;
$max: 800px;
$med: 100px;

.hero {
    width: $porcent;
    height: 100vh;
    min-height: $min;
    max-height: $max;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;

    .heroraza {
        width: $porcent;
        height: 100vh;
        min-height: $min;
        max-height: $max;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }

    .herorefu {
        width: $porcent;
        height: 100vh;
        min-height: $min;
        max-height: $max;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }
    
    .herolabra {
        width: $porcent;
        height: 100vh;
        min-height: $min;
        max-height: $max;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }
    
    .herocan {
        width: $porcent;
        height: 100vh;
        min-height: $min;
        max-height: $max;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }
    
    .herobull {
        width: $porcent;
        height: 100vh;
        min-height: $min;
        max-height: $max;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $porcent;
        height: $porcent;
        background-image: linear-gradient(180deg, #0517b68c 0%, #08023d8c 100%), url('../images/computer.jpg');
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        z-index: -1;
    }
    
    .heroraza::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $porcent;
        height: $porcent;
        background-image: url(../images/cane\ corso\ fondo.png);
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        z-index: -1;
    }
    
    .herorefu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $porcent;
        height: $porcent;
        background-image: url(../images/8d22a1ff98da2485df147177801794a7.jpg);
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        z-index: -1;
    }
    
    .herolabra::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $porcent;
        height: $porcent;
        background-image: url(../images/labra);
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        z-index: -1;
    }
    
    .herocan::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $porcent;
        height: $porcent;
        background-image: url(../images/caniches\ 2.jpg);
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        z-index: -1;
    }

    
    .herobull::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $porcent;
        height: $porcent;
        background-image: url(../images/bulldog\ ingles\ 1);
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        z-index: -1;
    }

    /* Hero container */

    .hero__container {
        max-width: 800px;
        --padding-container: 0;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;
    }

    .hero__title {
        font-size: 5rem;
    }

    .hero__paragraph {
        margin-bottom: 20px;
    }
}











.herou {
    width: $porcent;
    height: 10vh;
    min-height: $med;
    max-height: $max;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    background-image: linear-gradient(180deg, #0517b68c 0%, #08023d8c 100%), url('../images/computer.jpg');
    background-size: cover;
}





.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}



















/* Nav */

.nav {
    --padding-container: 0;
    height: $porcent;
    display: flex;
    align-items: center;

    .nav__title {
        font-weight: 300;
    }

    nav a:hover{
        color: rgb(39, 36, 36);
    }

    .nav__link {
        margin-left: auto;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 2em;
    }
    
    .nav__items {
        list-style: none;
    }
    
    .nav__links {
        color: #ffffff;
        text-decoration: none;
    }
    
    .nav-item{
        color: white;
    }
    
    .nav__menu {
        margin-left: auto;
        cursor: pointer;
        display: none;
    }
    
    .nav__img {
        display: block;
        width: 30px;
    }
    
    
    .nav__close {
        display: var(--show, none);
    }

    
.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: $porcent;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}
}

















.price{

    
    .price__table{
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 2.5em;
        justify-content: space-evenly;
        align-items: center;
    }

    .price__price{
        font-size: 2rem;
        color: var(--color-price);
    }

    .price__items{
        margin-top: 35px;
        display: grid;
        gap: 1em;
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 50px;
        color: var(--color-items);
    }

    .price__cta{
        display: block;
        padding: 20px 0;
        border-radius: 10px;
        text-decoration: none;
        background-color: var(--bg-cta);
        font-weight: 600;
        color: var(--color-cta);
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);

}
        
.price__elementraza{
    background-color: indianred;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcalle{
    background-color: cadetblue;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementperdidos{
    background-color: darkolivegreen;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementvete{
    background-color: orangered;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementpaseo{
    background-color: lightsteelblue;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementadies{
    background-color: khaki;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementlab{
    background-color: rgb(209, 209, 209);
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcani{
    background-color: rgb(209, 209, 209);
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementbull{
    background-color: rgb(209, 209, 209);
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementrocky{
    background-color: #c7c7c7;
    text-align:center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementtobi{
    background-color: #c7c7c7;
    text-align:center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementnico{
    background-color: #c7c7c7;
    text-align:center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementmati{
    background-color: #c7c7c7;
    text-align:center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementlara{
    background-color: #c7c7c7;
    text-align:center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementnico1{
    background-image: url(../images/metlife-perros-gatos-calle.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementlabradornegro1{
    background-image: url(../images/labradornegroperdido);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcanecorsonegro1{
    background-image: url(../images/cannn.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementgoldenmarron{
    background-image: url(../images/golden-retriever-rojo.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementmati1{
    background-image: url(../images/fe.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementlara1{
    background-image: url(../images/fe.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementmatute{
    background-color: #c7c7c7;
    text-align:center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcriadero1labrador{
    background-color: rgb(209, 209, 209);
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcriadero2valentina{
    background-color: rgb(209, 209, 209);
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementricky{
    background-image: url(../images/rickyy.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementlucas{
    background-image: url(../images/Adiestrador-de-perros.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementtomas{
    background-image: url(../images/tomas.png);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementrocky2{
    background-image: url(../images/roky.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementtobi1{
    background-image: url(../images/tobias.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementmatute1{
    background-image: url(../images/matu.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementmartin{
    background-image: url(../images/lucas.jpg);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementandy{
    background-image: url(../images/ricky);
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 200px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcriadero2labrador{
    background-color: rgb(216, 174, 255);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcriadero1caniche{
    background-image: url(../images/mañe.jpg);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcriadero2caniche{
    background-image: url(../images/toto.jpg);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcriadero1bulldog{
    background-image: url(../images/bulll);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementcriadero2bulldog{
    background-image: url(../images/hugo);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}



.price__element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__elementrefugios{
    background-image: url(../images/refu\ 2.jpg);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}



}















.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;

    .subtitle2 {
        color: var(--color-title);
        font-size: 1rem;
        margin-bottom: 25px;
    }
}
















/**contacto formulario**/
.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

.form-register h4{
        font-size: 22px;
        margin-bottom: 20px;
    
    }

    
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}


.form-register a{
    color: white;
    text-decoration: none;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: $porcent;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;


}
}










.controls{
    width: $porcent;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.sec {
    font-size:4rem;
    text-align: center;
    
}














.footer{
    background-image: linear-gradient(180deg, #0517b68c 0%, #08023d8c 100%), url('../images/computer.jpg');
    background-size: cover;

    
.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}


.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}


footer ul li{
    list-style: none;

}

footer .bi{
    color: white;
    font-size: 2.3rem;
    overflow: hidden;
}
}















/* Testimony */

.testimony{
    background-color: #cc8f56;
    border-radius: 10px;

    
.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}
}













/* Questions */

.questions{
    text-align: center;

    
.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}
}















/* Media queries */

@media (max-width:740px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: $porcent;
        width: $porcent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }


    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }


    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: $porcent;
    }

    .subtitle2{
        width: $porcent;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: $porcent;
        justify-items: center;
    }

    .nav__link--footer{
        width: $porcent;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: $porcent;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .subtitle2{
        font-size: 1.5rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .form-register{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: $porcent;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: $porcent;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}